.app {
  flex-direction: column;
  min-height: 100vh;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: minmax(320px, 820px);
  align-content: center;
  align-items: center;
  justify-content: center;
}

.app__grid {
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 400px));
  grid-gap: 20px;
  justify-content: center;
}

.app__title {
  font-size: 23px;
  text-align: center;
}

.app__share-button {
  margin: auto;
  width: 50%;
  border: 2px solid #50c;
  border-radius: 5px;
  background-image: linear-gradient(to bottom, #fff, #ddd);
  box-shadow: 0 0 2px #000;
  height: 32px;
}

.app__share-button:active {
  background-image: linear-gradient(to bottom, #ccc, #aaa);
}

.app-info {
  text-align: center;
}

.app-info__link {
  color: #000;
}

.app-info__link:hover {
  text-decoration: none;
}
